{% extends 'index.html.twig' %}

{% block body %}

<h1>Edit {{store.getName}}</h1>
<form action="/edit_store_name/{{store.getId}}" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="new_name">Enter new name</label>
    <input id="new_name" type="text" name="new_name">

    <button class="btn btn-info" type="submit">update</button>
</form>

<form action="/add_brand_to_store/{{store.getId}}" method="post">
    <select name="brand">
        {% for brand in brands %}
        <option value="{{brand.getId}}">{{brand.getName}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="button" class="btn">Add brand to store</button>

</form>



{% endblock %}
