{% extends 'index.html.twig' %}

{% block body %}

<h1>Edit {{brand.getName}}</h1>
<a href="/view_brands">Back</a>
<form action="/edit_brand_name/{{brand.getId}}" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="new_name">Enter new name</label>
    <input id="new_name" type="text" name="new_name">

    <button class="btn btn-info" type="submit">update</button>
</form>

<form action="/add_store_to_brand/{{brand.getId}}" method="post">
    <select name="store">
        {% for store in stores %}
        <option value="{{store.getId}}">{{store.getName}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="button" class="btn">Add store to brand</button>
</form>

<form action="/remove_store_from_brand/{{brand.getId}}" method="post">
    <select name="store">
        {% for store in stores_with_brand %}
        <option value="{{store.getId}}">{{store.getName}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="button" class="btn">Remove Store from Brand</button>
</form>



{% endblock %}
